body{
    background: black;
    font-family:arial;
    color:white
}

h1{
    color:gray;
    font-size: 40px;
    font-family:verdana;
    margin-left: 5%;
}

label{
	display: block;
	float: left;
	width: 250px;
}

footer{
	margin-top: 1em;
	text-align: center;
	color: rgb(185, 70, 70);
	font-size: 20px;
	border: 2px;
	border-color: white;
}

h4{
	margin: 0 auto;
	text-align: center;
}

table{
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
}

table , tbody{
	border: 5px solid #000;
	border-width: 0 1px 0 1px;
}

table , tr{
	padding: 10px;
}

table , td{
	padding: 5px;
}

.maindiv{
    margin:auto;
    position: relative;
    background-color:white;
    color:black;
    width:800px;
    height: auto;
    padding:20px;
    border-radius:25px;
}

.subdiv{
	margin-top: 10px;
	text-align: center;
}

.input{
	margin-bottom: 0.4cm;
	margin-left: 32%;
}

.button {
	background-color:#44c767;
	border-radius:21px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 2px 3px #2f6627;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}

.matrixIn {
	width: 50px;
}
